@import url("reset.css");

html {
	padding: 0;
	margin: 0;
}

body {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 1.6;
	background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
	margin: 0 0 1.6rem;
}

p {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	line-height: 1.6;
	margin: 0 0 1.6rem;
}

a {
	color: #0056b3;
	border-bottom: 2px solid transparent;
	transition: all 0.5s ease-in-out;
}

a:hover {
	color: #002348;
	border-bottom: 2px solid #002348;
}

hr {
	margin: 3.2rem 1.6rem;
	color: #555555;
	border-color: #555555;
}

/* Layout */

.main {
	background: linear-gradient(pink, coral, orange, yellow);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;

}
.container {
	padding: 10rem;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	border: 3px solid white;
}


/* Media Queries */

@media (min-width: 699px) {
	
.main {
	flex-direction: row;

 }
 .container {

	justify-content: center;
}
}

/* Desktop Media Query */
@media (min-width: 999px) {
	.main {
		flex-direction: row;
	
	 }
	 .container {
	
		justify-content: center;
	}
	}